#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200rem;
  background: var(--white);

  @media screen and (max-width: 1024px) {
    padding: 50rem 0;
    width: 100%;
    height: auto;
  }

  .footer__inner {
    width: calc(100% - 200rem);
    margin: 0 auto;
    text-align: center;

    @media screen and (max-width: 1024px) {
      width: calc(100% - 40rem);
    }
  }
  
  .footer__info {
    width: 100%;
    font-size: 20rem;
    text-transform: uppercase;
    font-family: var(--mainEng-fonta);

    @media screen and (max-width: 1024px) {
      font-size: 15rem;
    }
  }
}