#header {
  // @include position-fixed;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100rem;
  padding: 0 100rem;
  background-color: var(--white);
  transition: top 0.3s ease;
  border-bottom: 1px solid var(--black500);
  background: #fff;
  z-index: 99999;

  @media screen and (max-width: 1024px) {
    height: 70rem;
    padding: 0 20rem;
  }
}

#header.show {
  border-bottom: 1px solid var(--black500);
  background: #fff;
}

#header.hide {
  top: -100rem;
}

#header.on.hide {
  top: 0;
}

#header.on {
  .header__nav {
    right: 0;
    // display: block;
  }

  .nav__wrap {
    text-align: right;

    li {
      display: block;

      a {
        display: inline-block;
        padding: 20rem 0;
        width: 100%;

        &::before {
          content: '';
          width: calc(100% - 28px);
          height: 2px;
          background-color: var(--orange);
          position: absolute;
          left: 14px;
          bottom: 0;
          transform: scaleX(0);
          transition: all 0.3s;
        }
      }
    }
  }

  .header__nav__mobile span::before {
    width: 20rem;
  }

  .header__nav__mobile span::after {
    width: 20rem;
  }
}

.header__inner {
  position: relative;
  @include flex-between;
  height: 100%;
  // margin: 0 auto;
  //  padding: 0 100rem;
  // width: calc(100% - 200rem);
  width: 100%;

  @media screen and (max-width: 1024px) {
    // width: calc(100% - 40rem);
    // padding: 0 20rem;
  }

  .header__logo {
    font-size: 30rem;
    text-align: center;
    line-height: 1;
    font-weight: 900;
    font-family: var(--mainKor-font);
    color: var(--yellowDark);

    @media screen and (max-width: 1024px) {
      font-size: 24rem;
    }
  }

  .header__nav {
    position: absolute;
    top: 0;
    right: 0;
    width: max-content;
    height: 100%;
    // display: block;
    // overflow: hidden;

    @media (max-width: 1024px) {
      position: fixed;
      top: 70rem;
      right: -110%;
      width: 100%;
      height: 100dvh;
      padding: 20rem 20rem;
      background-color: var(--white);
      transition: right .3s ease, ;
      z-index: 14;
      // display: none;
    }

    .nav__wrap {
      // position: relative;
      display: flex;
      flex-wrap: nowrap;
      // justify-content: center;
      // height: 100%;
      text-align: center;

      @media screen and (max-width: 1024px) {
        display: block;
        text-align: right;
        justify-content: flex-start;
      }

      li {
        a {
          display: inline-block;
          text-transform: uppercase;
          font-size: 24rem;
          padding: 32rem 30rem 30rem;
          position: relative;
          font-weight: 700;

          &::before {
            content: '';
            width: calc(100% - 28px);
            height: 2px;
            background-color: var(--orange);
            position: absolute;
            left: 14px;
            bottom: 0;
            transform: scaleX(0);
            transition: all 0.3s;
          }

          @media (min-width: 1024px) and (pointer: fine) {
            &:hover::before {
              transform: scaleX(1);
            }
          }
        }
      }
    }
  }

  .header__nav__mobile {
    display: none;
    // position: absolute;
    // top: 50%;
    // right: 20rem;
    // width: 40rem;
    // height: 40rem;
    // transform: translateY(-50%);
    // cursor: pointer;
    // z-index: 10001; // header__nav보다 높게

    @media (max-width: 1024px) {
      display: block;
      position: absolute;
      top: 50%;
      right: 0;
      width: 40rem;
      height: 40rem;
      transform: translateY(-50%);
      cursor: pointer;
    }

    span {
      display: block;
      width: 40rem;
      height: 2rem;
      background-color: var(--black);
      margin-top: 19rem;
      position: relative;

      &::before {
        content: "";
        width: 40rem;
        height: 2rem;
        background-color: var(--black);
        position: absolute;
        right: 0;
        top: 6rem;
        transition: width 0.3s;
      }

      &::after {
        content: "";
        width: 40rem;
        height: 2rem;
        background-color: var(--black);
        position: absolute;
        left: 0;
        bottom: 6rem;
        transition: width 0.3s;
      }
    }
  }
}

body {

  &.stop-scroll__loading,
  .stop-scroll--menu {
    overflow: hidden;
    height: 100%;
    touch-action: none;
  }
}