.video-section {
  position: relative;
  width: 100%;
  height: 100vh;
  backface-visibility: hidden;
  transition-property: clip-path;
  transition-duration: 1.2s;
  transition-timing-function: cubic-bezier(0.41, 0.01, 0.16, 1.01);
  clip-path: inset(0 0 0 0);
}

.banner-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  transition: top 0.8s;
  transition-timing-function: cubic-bezier(0.34, 0.02, 0.61, 0.98);
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  &.widthW {
    width: 100%;
    height: calc(100% - 50vh);
  }

  &.heightH {
    height: calc(100vh - 290rem);
    height: calc(100vh - 45%);
    overflow: hidden;
  }

  &.active {
    top: -100%;
  }

  p {
    color: #878D96;
    display: block;
    font-weight: 600;
    font-size: 46rem;

    @media screen and (max-width: 1024px) {
      font-size: 26rem;
    }
  }

  strong {
    width: 100%;
    font-size: 70rem;
    word-break: keep-all;
    word-wrap: break-word;
    color: #878D96;
    font-weight: 700;

    @media screen and (max-width: 1024px) {
      font-size: 30rem;
    }
  }
}

.video-wrap {
  position: relative;
  width: 100%;
  height: 100vh;
  backface-visibility: hidden;
  transition-property: clip-path;
  transition-duration: 1.2s;
  transition-timing-function: cubic-bezier(0.41, 0.01, 0.16, 1.01);
  clip-path: inset(0 0 0 0);

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &.active {
    clip-path: inset(100rem 100rem 100rem 100rem);

    @media screen and (max-width: 1024px) {
      clip-path: inset(20rem 20rem 20rem 20rem);
    }
  }
}

.txt_motion_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;

  .txt_motion {
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(100% - 200rem);
    text-align: center;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: var(--white);

    @media screen and (max-width: 1024px) {
      width: calc(100% - 55rem);
    }

    >* {
      display: block;
      transition-property: transform, opacity;
      transition-duration: 1.2s;
      transition-timing-function: cubic-bezier(0.41, 0.01, 0.16, 1.01);
    }

    strong {
      font-size: 50rem;
      font-weight: 800;
      font-family: var(--mainKor-font);
      letter-spacing: -0.5px;

      @media screen and (max-width: 1024px) {
        font-size: 28rem;
      }

      @media screen and (max-width: 600px) {
        white-space: pre-wrap;
      }
    }

    p {
      font-size: 26rem;
      font-weight: 600;
      margin-top: 22rem;
      line-height: 1.6;
      letter-spacing: -0.5px;
      white-space: pre-wrap;

      @media screen and (max-width: 1024px) {
        font-size: 16rem;
        margin-top: 18rem;
      }

      @media screen and (max-width: 1024px) {
        white-space: unset;
      }
    }
  }

  .txt_motion01,
  .txt_motion02 {
    strong {
      transform: translateY(calc(max(66px, 6.5104166667vw) * -1));
      opacity: 0;
    }

    p {
      transform: translateY(max(66px, 6.5104166667vw));
      opacity: 0;
      word-break: keep-all;
      word-wrap: break-word;
    }

    &.active {

      strong,
      p {
        transform: translateY(0);
        opacity: 1;
      }
    }

    &.none {

      strong,
      p {
        opacity: 0;
      }
    }
  }
}

/* === 기본 버튼 공통 === */
.btn-wrap {
  position: absolute;
  left: 130rem;
  bottom: 130rem;
  z-index: 10;
  height: 60rem;

  @media screen and (max-width: 1024px) {
    left: 40rem;
    bottom: 50rem;
    height: 42rem;
  }
}

.movie-btn {
  width: 60rem;
  height: 60rem;
  background-position-x: 0px;
  background-position-y: center;
  background-size: 60rem;
  background-repeat: no-repeat;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
  opacity: 1;
  visibility: visible;

  @media screen and (max-width: 1024px) {
    width: 42rem;
    height: 42rem;
    background-size: 42rem;
  }

  &.play {
    background-image: url("../../img/icon-play.png");
  }

  &.pause {
    background-image: url("../../img/icon-pause.png");
  }



  /* === 상태 토글 === */

  /* play 버튼은 비디오가 일시정지 상태일 때만 보이도록 */
  &.play[aria-pressed="false"] {
    display: inline-block;
  }

  &.play[aria-pressed="true"] {
    display: none;
  }

  /* pause 버튼은 비디오가 재생 중일 때만 보이도록 */
  &.pause[aria-pressed="true"] {
    display: inline-block;
  }

  &.pause[aria-pressed="false"] {
    display: none;
  }
}