.video-section {
  position: relative;
  width: 100%;
  height: 100vh;
  backface-visibility: hidden;
  transition-property: clip-path;
  transition-duration: 1.2s;
  transition-timing-function: cubic-bezier(0.41, 0.01, 0.16, 1.01);
  clip-path: inset(0 0 0 0);
}
.banner-box {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  transition: top 0.8s;
  transition-timing-function: cubic-bezier(0.34, 0.02, 0.61, 0.98);
  background-color: #ffffff;
  &.widthW {
    width: 100%;
    .banner-inner  {
      position: relative;
      z-index: 10;
      padding: 18.5vh 5% 50px;
      mix-blend-mode: difference;
      text-align: center;
      }
  }
  &.heightH {
    height: calc(100vh - max(99px, 9.765625vw));
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    // .banner-inner  {
    //     width: auto;
    //     height: 100%;
    //     left: 50%;
    //     transform: translateX(-50%);
    //   }
     .banner-inner  {
      // position: relative;
      // z-index: 10;
      // padding: 18.5vh 5% 50px;
      // mix-blend-mode: difference;
      // text-align: center;
      }
  }
  &.active {
    top: -100%;
  }

  span {
    color: #343A3F;
    display: block;
    font-weight: 600;
    font-size: max(30px, 1.3020833333vw);
  }

  strong {
    width: 100%;
    font-size: clamp(2.0rem, 5vw + 1rem, 3.4rem);
    letter-spacing: -0.02em;
    line-height: 1.5;
    word-break: keep-all;
    word-wrap: break-word;
    color: #343A3F;
    font-weight: 700;
  }
}

.video-wrap {
  position: relative;
  width: 100%;
  height: 100vh;
  backface-visibility: hidden;
  transition-property: clip-path;
  transition-duration: 1.2s;
  transition-timing-function: cubic-bezier(0.41, 0.01, 0.16, 1.01);
  clip-path: inset(0 0 0 0);

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;

  }
  &.active {
    clip-path: inset(max(26.4px, 2.6041666667vw) max(52.8px, 5.2083333333vw) max(26.4px, 2.6041666667vw) max(52.8px, 5.2083333333vw));
  }
}
.txt_motion_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.txt_motion {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  text-align: center;
  transform: translate(-50%, -50%);
  z-index: 2;
  padding: 0 max(13.2px, 1.3020833333vw);
  color: #ffffff;

  >* {
    display: block;
    transition-property: transform, opacity;
    transition-duration: 1.2s;
    transition-timing-function: cubic-bezier(0.41, 0.01, 0.16, 1.01);
  }

  strong {
    font-size: max(2.6rem, 2.6vw);
    letter-spacing: -0.02em;
    line-height: 1.3;
    font-weight: 700;
    font-family: var(--mainKor-font);
  }
  p {
    font-size: 1.5rem;
    letter-spacing: -0.02em;
    line-height: 1.5;
    font-weight: 500;
  }
}

.txt_motion01, .txt_motion02{
  strong {
    transform: translateY(calc(max(66px, 6.5104166667vw) * -1));
    opacity: 0;
  }

  p {
    margin-top: max(10.56px, 1.0416666667vw);
    transform: translateY(max(66px, 6.5104166667vw));
    opacity: 0;
    word-break: keep-all;
    word-wrap: break-word;
  }

  &.active {
    strong, p {
      transform: translateY(0);
      opacity: 1;
    }
  }
  &.none {
    strong, p {
      opacity: 0;
    }
  }
}

