#port {
    position: relative;
  width: 100%;
  // margin-top: 30vh;
  // overflow: hidden;
  background-color: #f2f4f8;
  padding-top: 10.5rem;
  padding-bottom: 10.5rem;
}

.port__inner {
   width: 100%;
  // padding: 16px;

  .port__title {
    // width: 100%;
    // height: 5vw;
    width: calc(100% - 28rem);  // 25.5.30
    margin: 0px auto;   // 25.5.30

    font-size: 4vw;
    font-weight: 900;
    line-height: 1.6;
    font-family: var(--mainKor-font);
    text-transform: uppercase;
    color: var(--black100);
    // border-bottom: 0.4vw solid var(--black100);
    // margin-bottom: 16px;
    margin-bottom: 30px;
    text-indent: -0.26vw;

    @media (max-width: 800px) {
      width: 100%;
      margin-bottom: 16px;
      font-size: 30px;
      height: auto;
      top: 68px;
      z-index: 1000px;
      background-color: var(--mainBg-color);
    }

    em {
      font-size: 1.25rem;
      font-weight: 400;
      line-height: 2;
    }
  }

  .slide-con {
    position: relative;
    margin-top: 3.5rem;
    padding-left: 14rem;
    width: 100%;
    height: 50rem;
    // overflow: hidden;
}

  .port__wrap {
    position: absolute;
    top: 0px;
    left: 14rem;
    z-index: 1;
    display: flex;
    will-change: transform; // 성능 최적화
    gap: 2rem;

    .port__item {
      position: relative;
      width: 50rem;
      height: 48rem;
      background-color: var(--white);
      margin-right: 20px;
      border-radius: 1.4rem;
      box-shadow: 0 4px 11px 0 rgb(0 0 0 / 16%);
      flex-shrink: 0;
      margin-top: 0;
      transition: margin-top 0.3s;

    //       position: relative;   // 25.5.30
    // top: 0;   // 25.5.30
    // flex-shrink: 0;   // 25.5.30
    // width: 50rem;   // 25.5.30
    // height: 50rem;   // 25.5.30
    // border-radius: 1.2rem;   // 25.5.30
    // transition: top 0.7s, opacity 0.7s;   // 25.5.30
    //  background-color: var(--white);

      &:hover {
        // margin-top: -20px;
        box-shadow: 0 max(13.2px, 1.3020833333vw) max(13.2px, 1.3020833333vw) 0 rgba(0, 0, 0, 0.1);
      }

      @media (max-width: 800px) {
        width: 400px;
        padding: 40px 30px;
        height: auto;
      }

      // &.p1 {
      //   background-color: var(--subBg100);
      // }

      // &.p2 {
      //   background-color: var(--subBg200);
      // }

      // &.p3 {
      //   background-color: var(--subBg300);
      // }

      // &.p4 {
      //   background-color: var(--subBg400);
      // }

      // &.p5 {
      //   background-color: var(--subBg500);
      // }

      // &.p6 {
      //   background-color: var(--subBg100);
      // }

      // &.p7 {
      //   background-color: var(--subBg200);
      // }

      // &.p8 {
      //   background-color: var(--subBg300);
      // }

      // &.p9 {
      //   background-color: var(--subBg400);
      // }

      // &.p10 {
      //   background-color: var(--subBg500);
      // }

      .num {
        font-size: 3.2rem;
        font-family: var(--mainNum-font);
      }

      .img {
        display: block;
        // margin-top: -20px;
        // transition: margin-top 0.3s;

        img {
          // border-radius: 5px;
          border-radius: 1.4rem 1.4rem 0 0;
          // filter: saturate(0%);
          // transition: all 0.3s;
        }

        // &:hover {
        // margin-top: 0;

        // img {
        //   filter: saturate(100%);
        // }
        //}
      }

      .port__desc {
        padding: 2.0rem 3.0rem 3.0rem;
      }

      .title {
        font-size: 2.2rem;
        font-weight: 700;
        // border-bottom: 2px solid var(--black100);
        margin-bottom: 1.0rem;
        font-weight: bold;
        color: #5e2bb8;
        letter-spacing: -0.1rem;
      }

      .desc {
        font-size: 1.6rem;
        letter-spacing: -0.03rem;
        line-height: 1.3;
        color: #121619;
      }

      .site {
        position: absolute;
        bottom: 20px;
        display: inline-block;
        width: max(2rem, 2vw);
        height: max(2rem, 2vw);
        margin-left: max(6.6px, 0.65vw);
        border-radius: 50%;
        background-color: #121619;
        right: 20px;

        &::after {
          content: '';
          position: absolute;
          display: block;
          right: max(1rem, 0.1vw);
          width: max(1rem, 0.1vw);
          height: max(1rem, 0.1vw);
          background: url("../../img/button_more_white.svg") 0 0;
          background-size: 100% 100%;
          top: 50%;
          transform: translateY(-50%);
          transition: opacity 0.2s, margin 0.2s;
        }

        &::before {
          content: '';
          display: block;
          position: absolute;
          opacity: 0;
          right: max(5.28px, 0.5208333333vw);
          width: max(5.28px, 0.5208333333vw);
          height: max(5.28px, 0.5208333333vw);
          margin-top: max(3.3px, 0.3255208333vw);
          margin-right: max(3.3px, 0.3255208333vw);
          background: url("../../img/button_more_white.svg") 0 0;
          background-size: 100% 100%;
          transform: translateY(-50%);
          transition: opacity 0.2s, margin 0.2s;
        }

        &:hover {
          background-color: var(--black100);
          color: var(--white);
        }
      }

      // .site {
      //   border: 1px solid var(--black100);
      //   display: block;
      //   text-align: center;
      //   padding: 0.625rem 1.5rem;
      //   margin-top: 1.5rem;
      //   transition: all 0.2s;

      //   &:hover {
      //     background-color: var(--black100);
      //     color: var(--white);
      //   }
      // }
    }
  }
}