#skill {
  padding-top: 105rem;
  padding-bottom: 105rem;
  background-color: #f2f4f8;
}

.skill__inner {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 200rem);
  margin: 0 auto;

  @media screen and (max-width: 1024px) {
    flex-direction: column;
    width: calc(100% - 40rem);
  }

  .skill__title {
    position: sticky;
    top: 70rem;
    left: 0;
    width: 34%;
    height: 4vw;
    font-size: 44rem;
    font-weight: 900;
    font-family: var(--mainKor-font);
    text-transform: uppercase;
    color: var(--black100);

    @media screen and (max-width: 1024px) {
      position: relative;
      width: 100%;
      height: auto;
      font-size: 24rem;
      top: 0;
      margin-bottom: 32rem;
    }

    em {
      font-size: 20rem;
      font-weight: 700;
      line-height: 2;

      @media screen and (max-width: 1024px) {
        font-size: 14rem;
      }
    }
  }

  .skill__list {
    position: relative;
    display: grid;
    grid-template-columns: repeat(6, minmax(auto, 1fr));
    grid-template-columns: repeat(6, minmax(0, 1fr));
    column-gap: 24rem;
    row-gap: 24rem;
    width: 100%;

    @media screen and (max-width: 1024px) {
      column-gap: 18rem;
      row-gap: 18rem;
    }

    @media screen and (max-width: 600px) {
      column-gap: 14rem;
      row-gap: 14rem;
    }

    li {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: relative;
      width: 100%;
      border-radius: 24rem;
      transform: translateY(90rem); // 초기 transform과 gsap set가 동일해야 함
      opacity: 0;
      background-color: var(--white);
      aspect-ratio: 1 / 1;
      text-align: center;
      grid-column-end: 2 span;
      padding-top: 30rem;

      @media screen and (max-width: 1024px) {
        border-radius: 20rem;
        padding-top: 26rem;
      }

      @media screen and (max-width: 600px) {
        border-radius: 14rem;
        padding-top: 14rem;
      }

      .skill__info {
        display: block;
        font-size: 34rem;
        font-weight: 900;
        padding: 0 30rem;

        @media screen and (max-width: 1024px) {
          font-size: 24rem;
          padding: 0 20rem;
        }

        @media screen and (max-width: 600px) {
          font-size: 14rem;
          padding: 0 10rem;
        }
      }

      .skill__icon {
        width: 100%;
        flex: 1;

        img {
          width: auto;
          height: 100%;
        }
      }
    }
  }
}