.loading-screen {
  width: 100dvw;
  height: 100dvh;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: opacity 0.5s ease;

  &.fade-out {
    opacity: 0;
  }

  p {
    color: #fff;
    font-size: 20rem;
    font-family: var(--mainKor-font);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  span {
    font-size: 30rem;
    font-family: var(--mainEng-font);
    margin-right: 10rem;
  }
}