.scroll__motion{
  transform: translateY(70rem);
  opacity: 0;
  transition-property: transform, opacity;
  transition-duration: 0.7s, 0.7s;
  transition-timing-function: cubic-bezier(0.41, 0.01, 0.16, 1.01);

  &.active {
    transform: translateY(0);
    opacity: 1;
  }
}