@font-face {
	font-family: 'LotteMartDream';
	font-style: normal;
	font-weight: 300;
	src: url('//fastly.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff2') format('woff2'), url('//fastly.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff') format('woff');
}

@font-face {
	font-family: 'LotteMartDream';
	font-style: normal;
	font-weight: 400;
	src: url('//fastly.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff2') format('woff2'), url('//fastly.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff') format('woff');
}

@font-face {
	font-family: 'LotteMartDream';
	font-style: normal;
	font-weight: 700;
	src: url('//fastly.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff2') format('woff2'), url('//fastly.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff') format('woff');
}

.lottemartdream * {
	font-family: 'LotteMartDream', sans-serif;
}

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf) {
	$formats: (
		eot: 'embedded-opentype',
		ttf: 'truetype',
		woff: 'woff',
		woff2: 'woff2',
	);

$src-main: null;

	@font-face {
		font-family: quote($name);
		font-style: $style;
		font-weight: $weight;
		font-display: swap;

		// 첫 번째 줄
		src: url(quote("#{$path}.eot"));

		// 두 번째 줄
		$src-main: (
		);

	@each $ext in $exts {
		@if $ext ==eot {
			$src-main: append($src-main, url(quote("#{$path}.eot?#iefix")) format("embedded-opentype"), comma);
		}

		@else {
			$format: map-get($formats, $ext);
			$src-main: append($src-main, url(quote("#{$path}.#{$ext}")) format(quote($format)), comma);
		}
	}

	src: $src-main;
	}
}


@include font-face('nanumSquareNeo', '../../fonts/NanumSquareNeo-aLt', 200, normal, (eot, woff2, woff, ttf));
@include font-face('nanumSquareNeo', '../../fonts/NanumSquareNeo-bRg', 400, normal, (eot, woff2, woff, ttf));
@include font-face('nanumSquareNeo', '../../fonts/NanumSquareNeo-cBd', 700, normal, (eot, woff2, woff, ttf));
@include font-face('nanumSquareNeo', '../../fonts/NanumSquareNeo-dEb', 800, normal, (eot, woff2, woff, ttf));
@include font-face('nanumSquareNeo', '../../fonts/NanumSquareNeo-eHv', 900, normal, (eot, woff2, woff, ttf));