// border-box 초기화
*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	word-break: keep-all;
}

// 공백 초기화
html,
body,
div,
p,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
ol,
table,
th,
td,
select,
textarea,
figure,
figcaption,
fieldset,
form,
input,
legend,
button {
	margin: 0;
	padding: 0;
}

// 폰트 초기화 
body,
button,
input,
select,
table,
textarea {
	font-family: var(--mainKor-font), var(--mainEng-font), "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", helvetica, sans-serif;
}

input:focus,
select:focus,
option:focus,
button:focus {
	outline: none;
}

// 링크 초기화
a,
a:hover,
a:focus {
	color: inherit;
	text-decoration: none;
}

// 스타일 초기화
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
}

ul {
	list-style: none;
}

em,
address {
	font-style: normal;
}

strong {
	font-weight: normal;
}

img {
	vertical-align: top;
	width: 100%;
}

button {
	background: none;
	border: none;
	padding: 0;
	margin: 0;
	cursor: pointer;
	overflow: visible;
	white-space: nowrap;
}

button:active {
	outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

img,
input,
button {
  vertical-align: top;
}

// 스킵메뉴
#skip a {
	position: absolute;
	left: 10px;
	top: -92px;
	z-index: 100000;
	font-size: 1rem;
	padding: 10px 30px;
	color: var(--white);
	background: var(--black);
}

#skip a:focus,
#skip a:active {
	top: 10px;
}