:root {
  --mainEng-font: "lottemartdream";
  --mainKor-font: "nanumSquareNeo";
  --mainNum-font: "GmarketSans";

  --mainBg-color: #f5f0eb;
  --subBg100: #cdc0b1;
  --subBg200: #afa395;
  --subBg300: #81887c;
  --subBg400: #afa7a2;
  --subBg500: #a6afa2;

  --white: #fff;
  --black: #000;
  --black100: #2b2b2b;
  --black200: #434343;
  --black300: #686868;
  --black400: #e0e0e0;

  --orange: #feb546;
  --yellow: #f5b914;
  --yellowTint: #ffec5f;
  --yellowLight: #ffd25f;
  --yellowDark: #f39800;

  --green: #a6ed8b;
  --cyan: #75ebcb;
  --darkBlue: #004581;


  // font-size: 62.5%;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  -webkit-overflow-scrolling: touch;
}

html {
  width: 100%;
  height: 100%;
  font-size: 0.052vw;

  @media screen and (max-width: 1024px) {
    font-size: .130vw;
  }

  @media screen and (max-width: 600px) {
    font-size: .256vw;
  }

  body {
    position: relative;
    height: 100%;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: var(--white);
    font-family: var(--mainKor-font), var(--mainEng-font);
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
  }
}